.sonata-ba-list-field-actions .btn-default{
    background-color: #7867A7;
    border-color: #7867A7;
}

.sonata-ba-list-field-actions .btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 103, 167, 0.5);
}

.nav-tabs-custom>.nav-tabs>li.active,
.box.box-primary {
    border-top-color: #7867A7;
}

.dropdown-menu a:hover {
    color: #7867A7 !important;
}

.select2-results .select2-highlighted {
    background-color: #7867A7;
}
