.sonata-ba-list-field-actions .btn-default{
    background-color: #fe821d;
    border-color: #fe821d;
}

.sonata-ba-list-field-actions .btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 130, 29, 0.5);
}

.nav-tabs-custom>.nav-tabs>li.active,
.box.box-primary {
    border-top-color: #fe821d;
}

.dropdown-menu a:hover {
    color: #fe821d !important;
}
