.sonata-ba-list-field-actions .btn-default{
    background-color: #85CE36;
    border-color: #85CE36;
}

.sonata-ba-list-field-actions .btn:focus, .btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(133, 206, 54, 0.5);
}

.nav-tabs-custom>.nav-tabs>li.active,
.box.box-primary {
    border-top-color: #85CE36;
}

.dropdown-menu a:hover {
    color: #85CE36 !important;
}
